extends layout 

block content
    if (user)
        img(src=user.avatar alt='Avatar')
        h1 Account: #{user.username}
        p User type: #{user.type}

        h2 Stories you've written:
        ul
            each story in stories 
                li
                    div(class='story-container')
                        h3= story.title 
                        p= story.content 
                        p= story.created 
                        p= story.author.username
                        if (user.username === story.author.username || user.type === 'admin')
                        a(href=story.deleteUrl) Delete
    else 
        p Not logged in