extends layout

block content
  h1 Members Only
  p Only registered users can post stories. Sign up to join in on the fun!

  if (user)
    ul
      each story in stories 
        li
          div(class='avatar-container')
            img(src= story.author.avatar alt= "Avatar" class="avatar")
          div(class='story-container')
            h3= story.title 
            p= story.content 
            p= story.created 
            p= story.author.username
            if (user.username === story.author.username || user.type === 'admin')
              a(href=story.deleteUrl) Delete
  else 
    ul
      each story in stories 
        li
          div(class='avatar-container')
            img(src= story.author.avatar alt= "Avatar" class="avatar")
          div(class='story-container')
            h2= story.title 
            p= story.content 
            p= story.created 
            p Anonymous