extends layout

block content
  h1 Members Only
  p Only registered users can view the authors of each story!

  if (user)
    each story in stories 
      div(class='story-container')
        h2= story.title 
        p= story.content 
        p= story.created 
        p= story.author.username
        if (user.username === story.author.username || user.type === 'admin')
          a(href=story.deleteUrl) Delete
  else 
    each story in stories 
      div(class='story-container')
        h2= story.title 
        p= story.content 
        p= story.created 
        p Anonymous